* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.allpage {
  background-color: #0b0b0f;
  min-height: 100vh;
  padding: 0.5rem;
}

.navbar {
  font-weight: bold;
  padding: 1rem;
  background-color: #05050a;
  display: flex;
  box-shadow: 0 0.1rem #1b2329;
  justify-content: space-between;
}

.navbar > .divinnavbar {
  color: #1f953e;
}

.logo {
  block-size: 20px;
}

.logo:hover {
  animation: sweep2 0.5s linear;
  border-radius: 4px;
}

@keyframes sweep2 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0);
  }
}

.rightside {
  padding: 0.5rem;
  border: 2px solid green;
  background-color: #072814;
  border-radius: 10px;
}

.rightside:hover {
  background-color: #104625;
}

.headerofwheel {
  margin: 2rem 2rem 1rem 2rem;
  min-height: 35vh;
  border: 0.4vh solid #13151d;
  text-align: center;
  background-color: #140f1e;
}

.headerofwheel:hover {
  border-color: #136f2c;
}

.radar,
.sweep {
  position: absolute;
}
.radar {
  overflow: hidden;
  margin: 2rem 0 0 2rem;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background:
    repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size:
    100%,
    218px 218px,
    218px 218px,
    100%;
}
.sweep {
  box-sizing: border-box;
  top: 16px;
  left: 16px;
  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 108px;
  height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.headerart {
  margin-top: 10vh;
  margin-left: 70vh;
}

.numberinarticle {
  margin-top: 2vw;
  margin-left: -5vw;
  color: green;
}

.pinarticle {
  color: #44404d;
}

.threbutoon {
  position: relative;
  display: flex;
}

.button {
  padding: 1vw;
  margin: 0 0.5rem 0 2rem;
  color: #b9b3c2;
  background-color: #140f1b;
  border: 1px solid #55555ad5;
  border-radius: 1.5vw;
}

.button:hover {
  border-color: #136f2c;
  background-color: #072814;
}


.foursections {
    margin-top: 2vw;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.section {
    margin:  0 0.5vw 0 0 ;
    border:  1px solid #062e16;
    border-radius: 8px;
    border-left-color: yellow;
    padding: 5vh 9vw 5vh 9vw;
    
}


.section:hover {
    border-color: #136f2c;
    background-color: #072814;
}